---
layout: default
---

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      {% include docs_nav.html %}
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1>{{ page.title }}</h1>
      <div id="markdown-content-container">{{ content }}</div>

      {% assign pages = site.pages | where_exp: "item", "item.order != null" | sort: "order" %}
      {% for link in pages %}
        {% if link.title == page.title %}
            {% unless forloop.first %}
              {% assign prev = tmpprev %}
                  {% endunless %}
              {% unless forloop.last %}
                  {% assign next = pages[forloop.index] %}
              {% endunless %}
            {% endif %}
        {% assign tmpprev = link %}
      {% endfor %}

      {% if next %}
        <h2>Up next: <a href="{{ next.url | prepend: site.baseurl }}">{{ next.title }}</a></h2>
      {% endif %}

      <p class="text-center">
        <br />
        <a target="_blank" href="{{ site.git_edit_address }}/{{ page.path }}" class="btn btn-default githubEditButton" role="button">
          <i class="fa fa-edit fa-lg"></i> Improve this page
        </a>
      </p>
    </div>

  </div>
</div>
